<table>
<tr>
<td style="width:70%" colspan="3"><h1>Facebook</h1></td>
<td>    </td>
<td style="width:30%"><tr>  
        <th><label>ID</label></th>
        <th> <label>PASSWORD</label></th>
        <th ></th>
        </tr>
        <tr>
           
            <td><input type="text" size="12" autofocus></td>
            <td><input type="password" size="12"></td>
            <td>  <button type="button">LOGIN</button> </td>
        </tr>
        <tr><td colspan="3"><a href="">forget login</a></td></tr></td>
</tr>   
<tr><td colspan="4">
       <button class="button" routerLink="" routerLinkActive="active">HOME</button>
       <button class="button" routerLink="/bodycc" routerLinkActive="active">ONE</button> 
       <button class="button" routerLink="/empc" routerLinkActive="active">EMP</button>  
       <button class="button" routerLink="/form" routerLinkActive="active>">FORM</button> 
      
</td></tr>
</table>