
       <button class="button" routerLink="" routerLinkActive="active">HOME</button>
       <button class="button" routerLink="/bodycc" routerLinkActive="active">ONE</button> 
       <button class="button" routerLink="/empc" routerLinkActive="active">EMP</button>  
       <button class="button" routerLink="/form" routerLinkActive="active>">FORM</button> 
      <div class="input-group">
          <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" aria-label="">Action</button>
        </span>
          <input type="text" class="form-control" name="name" id="name" placeholder="" aria-label="">
      </div>