label, input{

font-size:small;
}
a,p {font-size: 15px;
color: aqua;
}
td{
    border: 0px;
    text-align: left;
    padding: 0px;
   
}
table{
    border: 0px;
}
th{
    border: 0px;
    text-align: left;
    color: white;
    padding: 0px;
}
h1{ 
color: azure;
    text-align:left;
}
div {
    display: block;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    border-radius: 14px;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: white; 
  color: black; 
  border: 2px solid rgb(0, 255, 85);
  }