<!--The content below is only a placeholder and can be replaced.-->
<div class="header"  style="background-color:rgb(95, 54, 7);" align="right">
   <app-header-log></app-header-log>
  </div>
  
  <div class="row">
    <div class="column" style="background-color:rgb(18, 159, 194);"  align="left">
<pre>
Column
side
left</pre>
    </div>
    <div class="column_main" >
      <router-outlet></router-outlet>
    </div>
    <div class="column" style="background-color:rgb(255, 0, 200);" align="right">
  <pre>
Column
side
right</pre></div>
  </div>
  
  <div class="footer">
    <app-footer-menu> </app-footer-menu>
  </div>

     

